In [11]:
from . import config as cfg
import pandas as pd
import numpy as np
from datetime import datetime
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn import metrics
from sklearn.model_selection import ShuffleSplit
from sklearn.pipeline import make_pipeline
import seaborn as sns

ImportError: cannot import name 'config' from '__main__' (unknown location)

In [10]:
dfMoney = pd.read_csv(cfg.training_money_file, index_col=0, low_memory=False)
dfMoney

,TransactionType,ElectionCycle,ELECTION_DATE,PrimaryGeneralIndicator,TransactionID,TRANSACTION_DATE,TRANSACTION_AMOUNT,FiledDate,COMMITTEE_NAME,CANDIDATE_NAME,...,DONOR_ENTITY_TYPE,DonorCommitteeID,DonorCommitteeNameNormalized,DonorCommitteeType,DonorCommitteeParty,CONTEST_NAME,PARTY_NAME,INCUMBENT_FLAG,WRITE_IN_FLAG,VOTE_TOTAL
0,Monetary Contribution,2015,2016-06-07,0,1965591 - INC9,2015-01-13,500.0,2015-04-30,Friends of Frank Bigelow for Assembly 2016,FRANK BIGELOW,...,IND,0,NOT CURRENTLY SUPPORTED,NOT CURRENTLY SUPPORTED,NOT CURRENTLY SUPPORTED,State Assembly Member District 5,Republican,Y,N,73180
1,Monetary Contribution,2015,2016-06-07,0,1965591 - INC24,2015-02-10,1000.0,2015-04-30,Friends of Frank Bigelow for Assembly 2016,FRANK BIGELOW,...,COM,920780,NOT CURRENTLY SUPPORTED,NOT CURRENTLY SUPPORTED,NOT CURRENTLY SUPPORTED,State Assembly Member District 5,Republican,Y,N,73180
2,Monetary Contribution,2015,2016-06-07,0,1965591 - INC25,2015-02-13,500.0,2015-04-30,Friends of Frank Bigelow for Assembly 2016,FRANK BIGELOW,...,COM,761465,NOT CURRENTLY SUPPORTED,NOT CURRENTLY SUPPORTED,NOT CURRENTLY SUPPORTED,State Assembly Member District 5,Republican,Y,N,73180
3,Monetary Contribution,2015,2016-06-07,0,1965591 - INC26,2015-02-13,1300.0,2015-04-30,Friends of Frank Bigelow for Assembly 2016,FRANK BIGELOW,...,SCC,1275328,NOT CURRENTLY SUPPORTED,NOT CURRENTLY SUPPORTED,NOT CURRENTLY SUPPORTED,State Assembly Member District 5,Republican,Y,N,73180
4,Monetary Contribution,2015,2016-06-07,0,1965591 - INC28,2015-02-25,4200.0,2015-04-30,Friends of Frank Bigelow for Assembly 2016,FRANK BIGELOW,...,OTH,0,NOT CURRENTLY SUPPORTED,NOT CURRENTLY SUPPORTED,NOT CURRENTLY SUPPORTED,State Assembly Member District 5,Republican,Y,N,73180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133054,Loan,2017,2018-06-05,0,2260844 - 13,2018-04-22,500.0,2018-06-14,BRIBIESCA FOR CALIFORNIA STATE GOVERNOR 2018; ...,J. BRIBIESCA,...,IND,0,NOT CURRENTLY SUPPORTED,NOT CURRENTLY SUPPORTED,NOT CURRENTLY SUPPORTED,Governor,Democratic,N,N,17586
133055,Loan,2017,2018-06-05,0,2260844 - 14,2018-04-28,500.0,2018-06-14,BRIBIESCA FOR CALIFORNIA STATE GOVERNOR 2018; ...,J. BRIBIESCA,...,IND,0,NOT CURRENTLY SUPPORTED,NOT CURRENTLY SUPPORTED,NOT CURRENTLY SUPPORTED,Governor,Democratic,N,N,17586
133056,Loan,2017,2018-06-05,0,2260844 - 15,2018-05-15,700.0,2018-06-14,BRIBIESCA FOR CALIFORNIA STATE GOVERNOR 2018; ...,J. BRIBIESCA,...,IND,0,NOT CURRENTLY SUPPORTED,NOT CURRENTLY SUPPORTED,NOT CURRENTLY SUPPORTED,Governor,Democratic,N,N,17586
133057,Loan,2017,2018-06-05,0,2260844 - 16,2018-05-19,500.0,2018-06-14,BRIBIESCA FOR CALIFORNIA STATE GOVERNOR 2018; ...,J. BRIBIESCA,...,IND,0,NOT CURRENTLY SUPPORTED,NOT CURRENTLY SUPPORTED,NOT CURRENTLY SUPPORTED,Governor,Democratic,N,N,17586
133058,Loan,2017,2018-06-05,0,2269736 - 1,2018-06-01,1000.0,2018-07-25,BRIBIESCA FOR CALIFORNIA STATE GOVERNOR 2018; ...,J. BRIBIESCA,...,IND,0,NOT CURRENTLY SUPPORTED,NOT CURRENTLY SUPPORTED,NOT CURRENTLY SUPPORTED,Governor,Democratic,N,N,17586

In [2]:
dfCand = pd.read_csv(cfg.training_candidate_file, index_col=0, low_memory=False)
dfCand

,CANDIDATE_NAME,CONTEST_NAME,ELECTION_DATE,PARTY_NAME,INCUMBENT_FLAG,PARTY_LEAN,WRITE_IN_FLAG,VOTE_TOTAL,TOTAL_VOTES_RACE,VOTE_PCT
0,STEVEN BAIRD,State Senate District 1,2016-06-07,Republican,0,1,N,39958,NaN,NaN
1,TED GAINES,State Senate District 1,2016-06-07,Republican,1,1,N,140739,NaN,NaN
2,ROB ROWEN,State Senate District 1,2016-06-07,Democratic,0,-1,N,104262,NaN,NaN
3,MARIKO YAMADA,State Senate District 3,2016-06-07,Democratic,0,-1,N,72243,NaN,NaN
4,"GREG ""COACH"" COPPES",State Senate District 3,2016-06-07,Republican,0,1,N,54525,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
624,SHIRLEY N. WEBER,State Assembly Member District 79,2018-06-05,Democratic,1,-1,N,51395,NaN,NaN
625,JOHN MOORE,State Assembly Member District 79,2018-06-05,Republican,0,1,N,29324,NaN,NaN
626,LINCOLN PICKARD,State Assembly Member District 80,2018-06-05,Republican,0,1,N,16107,NaN,NaN
627,LORENA GONZALEZ FLETCHER,State Assembly Member District 80,2018-06-05,Democratic,1,-1,N,38449,NaN,NaN
628,JOSEPH VIVEIROS,State Assembly Member District 80,2018-06-05,Republican,0,1,Y,3,NaN,NaN

In [3]:
dfRace = pd.read_csv(cfg.training_race_file, index_col=0, low_memory=False)
dfRace

,CONTEST_NAME,ELECTION_DATE,LEGISLATURE,CANDIDATE_COUNT,RACE_TOTAL_RAISED
0,State Senate District 1,2016-06-07,True,3,124540.00
1,State Senate District 3,2016-06-07,True,4,2263529.27
2,State Senate District 5,2016-06-07,True,3,1146658.00
3,State Senate District 7,2016-06-07,True,3,1043612.92
4,State Senate District 9,2016-06-07,True,4,1130334.46
...,...,...,...,...,...
105,State Assembly Member District 72,2018-06-05,True,5,1421281.87
106,State Assembly Member District 73,2018-06-05,True,3,601639.53
107,State Assembly Member District 74,2018-06-05,True,5,820471.43
108,State Assembly Member District 76,2018-06-05,True,8,772167.64
109,State Assembly Member District 80,2018-06-05,True,3,NaN

In [4]:
race_key = ['CONTEST_NAME', 'ELECTION_DATE']
cand_key = [*race_key, 'CANDIDATE_NAME']

In [5]:
dfRace_r

,,LEGISLATURE,CANDIDATE_COUNT,RACE_TOTAL_RAISED
CONTEST_NAME,ELECTION_DATE,,,
State Senate District 1,2016-06-07,True,3,124540.00
State Senate District 3,2016-06-07,True,4,2263529.27
State Senate District 5,2016-06-07,True,3,1146658.00
State Senate District 7,2016-06-07,True,3,1043612.92
State Senate District 9,2016-06-07,True,4,1130334.46
...,...,...,...,...
State Assembly Member District 72,2018-06-05,True,5,1421281.87
State Assembly Member District 73,2018-06-05,True,3,601639.53
State Assembly Member District 74,2018-06-05,True,5,820471.43
State Assembly Member District 76,2018-06-05,True,8,772167.64
State Assembly Member District 80,2018-06-05,True,3,NaN

In [6]:
dfRace_r['RACE_VOTE_TOTAL'] = dfCand.groupby(race_key)['VOTE_TOTAL'].sum()
dfCand_new = pd.merge(dfCand, dfRace_r, left_on = race_key, right_index=True, how='left')

In [13]:
totalCand = dfMoney.groupby(cand_key).agg(CAND_TOTAL_RAISED=('TRANSACTION_AMOUNT', 'sum'))
dfCand_new = pd.merge(dfCand, totalCand, left_on = cand_key, right_index=True, how='left')

In [14]:
dfCand_new

,CANDIDATE_NAME,CONTEST_NAME,ELECTION_DATE,PARTY_NAME,INCUMBENT_FLAG,PARTY_LEAN,WRITE_IN_FLAG,VOTE_TOTAL,TOTAL_VOTES_RACE,VOTE_PCT,CAND_TOTAL_RAISED
0,STEVEN BAIRD,State Senate District 1,2016-06-07,Republican,0,1,N,39958,NaN,NaN,124540.00
1,TED GAINES,State Senate District 1,2016-06-07,Republican,1,1,N,140739,NaN,NaN,NaN
2,ROB ROWEN,State Senate District 1,2016-06-07,Democratic,0,-1,N,104262,NaN,NaN,NaN
3,MARIKO YAMADA,State Senate District 3,2016-06-07,Democratic,0,-1,N,72243,NaN,NaN,290181.27
4,"GREG ""COACH"" COPPES",State Senate District 3,2016-06-07,Republican,0,1,N,54525,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
624,SHIRLEY N. WEBER,State Assembly Member District 79,2018-06-05,Democratic,1,-1,N,51395,NaN,NaN,89700.00
625,JOHN MOORE,State Assembly Member District 79,2018-06-05,Republican,0,1,N,29324,NaN,NaN,NaN
626,LINCOLN PICKARD,State Assembly Member District 80,2018-06-05,Republican,0,1,N,16107,NaN,NaN,NaN
627,LORENA GONZALEZ FLETCHER,State Assembly Member District 80,2018-06-05,Democratic,1,-1,N,38449,NaN,NaN,NaN
628,JOSEPH VIVEIROS,State Assembly Member District 80,2018-06-05,Republican,0,1,Y,3,NaN,NaN,NaN

,CONTEST_NAME,ELECTION_DATE,LEGISLATURE,CANDIDATE_COUNT,RACE_TOTAL_RAISED
0,State Senate District 1,2016-06-07,True,3,124540.00
1,State Senate District 3,2016-06-07,True,4,2263529.27
2,State Senate District 5,2016-06-07,True,3,1146658.00
3,State Senate District 7,2016-06-07,True,3,1043612.92
4,State Senate District 9,2016-06-07,True,4,1130334.46
...,...,...,...,...,...
105,State Assembly Member District 72,2018-06-05,True,5,1421281.87
106,State Assembly Member District 73,2018-06-05,True,3,601639.53
107,State Assembly Member District 74,2018-06-05,True,5,820471.43
108,State Assembly Member District 76,2018-06-05,True,8,772167.64
109,State Assembly Member District 80,2018-06-05,True,3,0.00

In [28]:
%matplotlib inline
dfRace['RACE_TOTAL_RAISED'].describe()

count    1.100000e+02
mean     6.338336e+05
std      5.832257e+05
min      0.000000e+00
25%      2.269490e+05
50%      4.534885e+05
75%      8.203477e+05
max      3.750348e+06
Name: RACE_TOTAL_RAISED, dtype: float64

In [30]:
dfCand['']

,CANDIDATE_NAME,CONTEST_NAME,ELECTION_DATE,PARTY_NAME,INCUMBENT_FLAG,PARTY_LEAN,WRITE_IN_FLAG,VOTE_TOTAL,TOTAL_VOTES_RACE,VOTE_PCT
0,STEVEN BAIRD,State Senate District 1,2016-06-07,Republican,0,1,N,39958,NaN,NaN
1,TED GAINES,State Senate District 1,2016-06-07,Republican,1,1,N,140739,NaN,NaN
2,ROB ROWEN,State Senate District 1,2016-06-07,Democratic,0,-1,N,104262,NaN,NaN
3,MARIKO YAMADA,State Senate District 3,2016-06-07,Democratic,0,-1,N,72243,NaN,NaN
4,"GREG ""COACH"" COPPES",State Senate District 3,2016-06-07,Republican,0,1,N,54525,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
624,SHIRLEY N. WEBER,State Assembly Member District 79,2018-06-05,Democratic,1,-1,N,51395,NaN,NaN
625,JOHN MOORE,State Assembly Member District 79,2018-06-05,Republican,0,1,N,29324,NaN,NaN
626,LINCOLN PICKARD,State Assembly Member District 80,2018-06-05,Republican,0,1,N,16107,NaN,NaN
627,LORENA GONZALEZ FLETCHER,State Assembly Member District 80,2018-06-05,Democratic,1,-1,N,38449,NaN,NaN
628,JOSEPH VIVEIROS,State Assembly Member District 80,2018-06-05,Republican,0,1,Y,3,NaN,NaN